<div>
    <div class="about-us-container">
        <div class="our-story-container">
            <div class="our-story-header">Our Story</div>
            <div class="our-story-description">
                Started in October 2023, Season’s Best was our first step to becoming the best tea and boba shop in metro Atlanta. We do pop ups, events, catering, and more. Whether it’s spring, summer, autumn, or winter, Season’s Best is committed to serving up the best drinks year-round! 🌸 🌳 🍁 ❄️ <br><br>Follow us on our journey as we experiment and develop new drinks for each pop-up in addition to some timeless classics.
            </div>
        </div>
        <div class="our-story-image-container">
            <img src="/assets/About-Us.png"/>
        </div>
    </div>
</div>
